<!DOCTYPE html>
<html ng-app="formApp">
  <head>
    <title>Form Validation</title>
    <link href="index.css" rel="stylesheet"/>
  </head>
  <body>

    <script src="libs/angular.js"></script>
    <script src="index.js"></script>
    <script src="formController.js"></script>

    <div class="container">

      <h1>Contact Us</h1>

    <form class="form" ng-controller="FormController">
    	<p>Name:</p><input type="text" name="inputName" ng-model="name" ng-class="{'invalidClass': nameInvalid}">
      <div class="error" ng-show="nameError">
        Name cannot be left empty
      </div>

    	<p>Email:</p><input type="text" ng-model="email" ng-class="{'invalidClass': emailInvalid}">
       <div class="error" ng-show="emailError">
        Email cannot be left empty
        </div>
       <div class="error" ng-show="emailAddError">
        Email must contain an '@'
       </div>

    	<p>Website:</p><input type="text" ng-model="website" ng-class="{'invalidClass': websiteInvalid}">
      <div class="error" ng-show="websiteError">
        Website cannot be left empty
       </div>
       <div class="error" ng-show="websiteAddError">
        Website must contain 'http://'
       </div>

    	<p>Message:</p><textarea ng-model="message" ng-class="{'invalidClass': messageInvalid}"></textarea>
      <div class="error" ng-show="messageError">
        Message cannot be left empty
       </div>

    	<button ng-click="submitForm()">Submit</button>

      <div class="success" ng-show="formSubmitted">
        Form sucessfully submitted
       </div>

    </form>

  </div>
    
  </body>
</html>